* text=auto eol=lf
*~ export-ignore
.agent export-ignore
.DS_Store export-ignore
.env export-ignore
.editorconfig export-ignore
.gitignore export-ignore
.gitattributes export-ignore
.venv export-ignore
.vscode export-ignore
.forgejo export-ignore
.flake8 export-ignore
.safety-project.ini export-ignore
settings.json export-ignore
README.md export-ignore
scripts export-ignore
v1/__init__.py export-ignore
v1/__pycache__ export-ignore
v2/__init__.py export-ignore
v2/__pycache__ export-ignore
v3/__init__.py export-ignore
v3/__pycache__ export-ignore
v4/__init__.py export-ignore
v4/__pycache__ export-ignore
v1/docs/** export-ignore
v2/docs/** export-ignore
v3/docs/** export-ignore
v4/docs/** export-ignore
__pycache__ export-ignore
